## Bienvenue, sur la pipeline du projet : Filtration des clusters.

Les différentes cellules de code vous guideront dans l'utilisation de ce GitHub à travers plusieurs exemples... <br>
Je remercie Juliana pour m'avoir permis d'effectuer ce stage à la station biologique de roscoff, 
ainsi que toute l'équipe cyanorak,<br>  pour nous avoir autorisé à manipuler les données de cyano.

**`ck_parser.py`** permet d'obtenir un tableau contenant 1 ligne par cluster contenant, les informations type (nombre de sequences, taille moyenne, ecart-type, min, max, et un % des séquences contenant un mot-clé - dans notre example "10")

input :
- l'adresse du dossier contenant les fichiers multiFasta des clusters
- l'adresse où le csv va être enregistré
- (facultatif) un mot-clé recherché - par défault : 'hypothetical'

In [4]:
!python main/ck_parser.py \
-i ".\example\data" \
-o ".\example\output\data_saved.csv" \
-k "10"

File is saved to c:\Users\dodol\Documents\GitHub\cluster_parser\example\output\data_saved.csv

  0%|          | 0/10 [00:00<?, ?it/s]
100%|██████████| 10/10 [00:00<00:00, 4947.86it/s]

In [23]:
import pandas as pd
df = pd.read_csv(r'.\example\output\data_saved.csv', index_col=False)
df.head()

   ClusterNumber   n     mean      std  min  max   %_keyword=10
0   fake_1.fasta  71  224.338   97.603   46  399          1.408
1  fake_10.fasta  29  233.517   99.436   48  393          3.448
2   fake_2.fasta  29  243.966   96.618   45  391          3.448
3   fake_3.fasta  95  218.242  102.195   45  395          1.053
4   fake_4.fasta  45  225.356   92.271   70  397          2.222

!python main/ck_score_aln.py \
-i  \
-o